/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
  font-weight: 400;
}
strong {
  color: orange;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

label {
  margin-right: 10px;
}
input[type="text"],
input[type="number"],
select,
button {
  padding: 10px 15px;
  margin: 5px 0;
  border: 1px solid #e7880c;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Anime Results Styling */
#results {
  margin-top: 30px;
}

.anime-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.anime-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

.anime-container img {
  max-width: 100%;
  border-radius: 5px;
}

.content-container {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  min-height: 100vh; /* Ensures container takes up the full viewport height */
}

#results {
  flex: 1; /* Takes up all available space */
  overflow-y: auto; /* Add a scrollbar if the content overflows */
}

#loadMoreBtn {
  justify-content: center;
  margin: auto;
  display: none;
}
