/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.containerS {
  position: relative;
  z-index: 3;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #000000;
  padding: 40px;
  margin: 0;
}
a {
  text-decoration: none;
   color: #9e9d9d;
}
h1 {
  text-align: center;
  color: #474747;
  font-weight: 750;
  margin-bottom: 30px;
}
h1:hover {
  transform: scale(1.05);
}
strong {
  color: orange;
  font-weight: 900;
}
form {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  display: none;
}

input[type="text"],
input[type="number"],
select {
  flex: 1;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 2px solid #030303;
  border-radius: 10px;
  font-size: 16px;
  background-color: orange;
  min-width: 100px;
  color: white;
}

input[type="text"]::placeholder {
  color: #aaa;
}

button {
  display: block;
  width: auto;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

#results,
#search_results {
  margin-top: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 10px;
  height: 50px;
}

#animeInput {
  flex-grow: 0;
  width: 400px;
  height: 100%;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  padding: 0 10px;
}

#filterIcon {
  height: 100%;
  width: 15%;
  display: flex;
  color: rgb(243, 182, 13);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

#filterIcon:hover {
  background-color: #ff9e0d;
  border-radius: 10px;
  color: white;
}

#searchBtn {
  padding: 10px 15px;
  height: 50px;
  border: none;
  color: orange;
  border-radius: 10px;
  background-color: #333333;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
}

#searchBtn:hover {
  background-color: #ff9100;
  color: white;
}
#animeInput {
  flex: 1;
  padding: 8px 15px;
  border: none;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}
#animeInput::placeholder {
  color: #888;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 15%;
}

#filterSection {
  text-align: center;
}

/* Anime Results Styling */
#results {
  margin-top: 30px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.anime-card  {
  display: inline-block;
  width: 150px;
  height: 250px;
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.anime-card:hover {
  transform: scale(1.05);
  border: 4px solid #ffa600;
}

.anime-card img {
  width: 100%;
  display: block;
  height: calc(100% - 40px);
  object-fit: cover;
} 

.anime-title  {
  background-color: rgba(0, 0, 0, 0.463);
  color: orange;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  height: 40px; /* Set a fixed height for the title area */
  overflow: visible;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}
.button-container {
  display: flex;
  justify-content: center;
}

#prevBtn,
#nextBtn {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  display: none;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #dd9907;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#results {
  flex: 1;
  overflow-y: auto;
  color: orange;
  font-weight: 600;
  font-size: 20px;
}
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(63, 63, 63, 0.7);
}

.modal-content {
  position: relative;
  background-color: #3f3f3f;
  margin: 10% auto;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
  border: 5px solid orange;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
h1,
h2,
p {
  margin-bottom: 10px;
}

#animeImage {
  margin: 0 auto;
  text-align: center;
}
#animeDescription {
  text-align: justify;
  padding: 15px;
  border: 2px solid rgb(41, 41, 41); 
  border-radius: 3px;
  background-color: rgb(41, 41, 41); 
  color: white; 
  margin-top: 10px; 
  border-radius: 20px;
  overflow-y: auto; 
}
#animeInfoBtn {
  text-align: center;
  justify-content: center;
  display: inline;
  background-color: orange;
  height: 50px;
}
#trailerBtn {
  color: orange;
  display: inline;
  text-align: center;
  justify-content: center;
  height: 50px;
}
#trailerFrame {
  display: block;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.trending-section,
.recent-updates-section {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}

.trendingHeader,
.updatedHeader{
    color: orange; 
    border-bottom: 2px solid orange;
    display: block;
    font-size: 32px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.statistic-item {
  padding: 8px 12px; 
  margin-bottom: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
  border-radius: 5px; 
  background-color: #e6e6e6;  
}


#animeWatching {
  background-color: #e27602;
  font-weight: 800;  
}

#animeCompleted {
  background-color: #e88504;
  font-weight: 800;  
}

#animeOnHold {
  background-color: #ec9006;
  font-weight: 800;  
}

#animeDropped {
  background-color: #ee9f27;
  font-weight: 800;  
}

#animePlanToWatch {
  background-color: #f1b04c;
  font-weight: 800;  
}
.anime-details {
  display: flex;
  align-items: center;  
}

#animeImage {
  max-width: 40%; 
  margin-right: 20px;  
  border-radius: 10px;
}

.anime-statistics {
  flex: 1; 
}
#animeTitle { 
  color: orange;
  padding-top: 10px;
}
#animeType {
  color:orange;
}
#animeGenre {
  color:orange;
}
#animeReleaseYear {
  color: orange;
}
#animeStatus {
  color:orange;
}
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

footer {
  background-color: #2C2F33;
  position: relative;
  padding: 30px 0;
  color: orange;
  z-index: 3;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.footer-logo h2 {
  font-size: 34px;
  margin: 0;
}

.footer-logo h2 span {
  color: #acabab;
}

.footer-disclaimer {
  margin: 15px 0;
  color: rgb(124, 124, 124);
  font-size: 14px;
}

.footer-manga-btn button {
  padding: 10px 15px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-manga-btn button:hover {
  background-color: rgb(97, 96, 96);
  color: orange;
  transform: scale(1.05);
}

.footer-copyright {
  margin-top: 20px;
  color: #838383;
  font-size: 14px;
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.9); /* You can change this color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #666666; /* Light grey */
  border-top: 16px solid #e28800; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Animation Initial States */
.footer-logo, .footer-disclaimer, .footer-manga-btn, .footer-copyright {
  opacity: 0; 
  transition: all 0.5s; 
}

.footer-logo {
  transform: translateY(-20px); 
}
.footer-disclaimer {
  transform: translateX(-20px); 
}

.footer-manga-btn {
  transform: translateX(20px); 
}

.footer-copyright {
  transform: translateY(20px);
}
@media (max-width: 768px) {
  .footer-logo, 
  .footer-disclaimer, 
  .footer-manga-btn, 
  .footer-copyright {
    transform: translateY(20px); 
  }
}
.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380vh;
    display: grid;
    grid-template-columns: repeat(10,1fr); 
    grid-template-rows: repeat(10,2px);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: visible;
}
.colorBox{
    z-index: 4;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}
 
.colorBox:hover{
    background: #ff9900;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: orange;
    filter: blur(70px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}
