 /* CSS STYLE FOR ACTIVITY 1 */

  /* -- Font Family -- */
@font-face {
    font-family: MPlus-Rounded-Bold;
    src: url("../fonts/mplus-rounded-bold.ttf");
}
@font-face {
    font-family: MPlus-Rounded-Regular;
    src: url("../fonts/mplus-rounded-regular.ttf");
}
@font-face {
    font-family: MPlus-Rounded-Light;
    src: url("../fonts/mplus-rounded-light.ttf");
}
@font-face {
    font-family: Lobster-Regular;
    src: url("../fonts/lobster_regular.ttf");
}

/* -- Color Family -- */
:root {
    --primary-color: #F5393B;
    --primary-color-dark: #BE2C2E;
    --primary-color-light: #FFC1C2;
    --accent-color: #25567D;
    --bgandtext-color-light: #F8F7F2;
    --bgandtext-color-dark: #1A1A1A;
}

/* -- Font Root -- */
:root {
    --bold-font: 'MPlus-Rounded-Bold';
    --regular-font: 'MPlus-Rounded-Regular';
    --light-font: 'MPlus-Rounded-Light';
    --special-font: 'Lobster-Regular';
}

    /* -- Overall Body -- */
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    /* -- Header -- */
    header {
        width: 100%;
        background-color:var(--bgandtext-color-light);
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .logo > p{
        text-align: center;
        margin-left: 10px;
        font-family: var(--special-font);
        color: var(--primary-color);
        font-size: 30px;
    }
    header #profilePicture {
        border-radius: 50%;
    }
    header img{
        height: 50px;
        float: left;
    }

    /* -- Header Mini-Menu-- */
    .miniMenu{
        display: none;
        position: absolute;
        width: 250px;
        top: 80px;
        right: 20px;
        z-index: 2;
        box-shadow: 5px 5px 10px #888888;
    }
    .miniMenu a{
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: block;
        width: 100%;
        background-color: var(--bgandtext-color-light);
        color: var(--bgandtext-color-dark);
        justify-content: center;
    }
    .buttonWithImage img{
        height: 20px;
        width: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .buttonWithImage{
        display: flex;
        align-items: center;
    }
    .buttonWithImage p{
        margin: 0;
        margin-left: 5px;
        font-family: var(--regular-font);
    }
    .show{
        display: block;
    }

    /*LOG IN BOX*/
    .LogInBox{
        background-color: aliceblue;
        width: 25%;
        padding: 20px;
        border-radius: 25px;
        border-color: goldenrod;
        border-style: solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .LogInBox h1{
        color: goldenrod;
        margin: 0px;
    }
    .LogInBox p{
        color: goldenrod;
        margin: 0px;
    }
    .LogInBox input[type=text],input[type=password]{
        text-align: center;
        border-radius: 25px;
        border-color: goldenrod;
        border-style: solid;
        background-color: rgb(255, 255, 255);
        margin-bottom: 5px;
        width: 80%;
    }
    .LogInBox input[type=text]:focus, input[type=password]{
        outline: 1px goldenrod;
    }
    .LogInBox img{
        width: 100%;
    }
    .LogInBox button{
        color: goldenrod;
        border-radius: 25px;
        border-color: goldenrod;
        border-style: solid;
        background-color: rgb(255, 255, 255);
        width: 100px;
    }
    .LogInBox button:active{
        color: rgb(255,255,255);
        background-color: goldenrod;
    }

    /* --  Profile Page -- */
    .content{
        width: 98%;
        z-index: 1;
    }
    .content > div{
        width: 100%;
        background-color: var(--bgandtext-color-light);
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 10px;
    } 
    .personalInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .personalInfo img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .textBox{
        margin-left: 30px;
    }

    /* --  Recipe Menu Nav Bar -- */
    .recipeMenu{
        display: flex;
    }
    .recipeMenu[title="categories"]{
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }
    .recipeMenu[title="categories"] button{
        width: 100%;
        font-family: var(--regular-font);
    }
    .recipeMenu button{
        background-color: var(--primary-color-light);
        margin: 0;
        width: 100%;
        height: 50px;
        border-style: none;
    }
    .recipeMenu button:hover{
        background-color: #FFADAE;
    }
    .recipeMenu button:active{
        background-color: rgb(191, 198, 204);
        border-color: rgb(182, 138, 27);
    }
    .recipeMenu button[title="first"]{
        border-radius: 15px 0px 0px 15px;
    }
    .recipeMenu button[title="last"]{
        border-radius: 0px 15px 15px 0px;   
    }
    .recipeMenu button img {
        margin-right: 10px; 
        width: 30px; 
        height: 30px;
        align-items: center;
    }
    .contentBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
    .contentBox > h1{
        width: 100%;
        text-align: center;
        font-family: var(--bold-font);
    }
    .textBox p, .textBox h1{
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        font-family: var(--regular-font);
    }
    .recipeTab{
        position: relative;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
        border-radius: 25px;
        width: 200px;
        height: 300px;
        background-color: rgb(117, 1, 1);
        overflow: hidden;
    }
    .recipeTab img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .recipeTabTitle{
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(165, 42, 42, 0), #8c2323);
        border-radius: 0 0 25px 25px;
        width: 100%;
        height: 30%;
        padding: 15px;
        box-sizing: border-box;
        transition: height 0.5s;
    }
    .recipeTabTitle:hover{
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .recipeTabTitle h2, .recipeTabTitle p{
        color: white;
        margin: 0;
        padding: 0;
    }
    /*Recipe Page*/
    .recipeImage{
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }
    .recipeImage > img{
        width: 100%;
        height: 300px;
        object-fit:cover;
        border-radius: 25px 25px 0px 0px;
    }
    #type{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--bgandtext-color-light);
        width: max-content;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 25px;
    }
    #type img{
        width: 25px;
        height: 25px;
    }
    #type p{
        margin: 0;
        margin-left: 5px;
        padding-right: 5px;
        padding-left: 5px;
        font-family: var(--regular-font);
        color: var(--primary-color);
    }
    #title{
        margin-top: 5px ;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--bgandtext-color-light);
        width: max-content;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 25px;
    }
    #title h1{
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        font-family: var(--bold-font);
        color: var(--bgandtext-color-dark)
    }
    .imageTitle{
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(165, 42, 42, 0), var(--bgandtext-color-dark));
        width: 100%;
        height: 30%;
        padding: 15px;
        box-sizing: border-box;
        transition: height 0.5s;
    }
    .recipeInfo{
        width: 80%;
    }
    .recipeCreator{
        display: flex;
        flex-direction: row;
    }
    .recipeCreator p {
        font-family: var(--bold-font);
        color: var(--primary-color);
        margin-left: 10px;
    }
    .recipeCreator img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
    .recipeHeader{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 100px;
    }
    .recipeDesc p{
        margin: 0;
        font-family: var(--regular-font);
        color: var(--bgandtext-color-dark)
    }
    .recipeTime{
        width:auto;
        height:fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--primary-color-light);
        border-radius: 5px;
        padding: 5px;
    }
    .recipeTime p{
        margin: 0;
        margin-left: 10px;
        padding: 0;
        font-size: 15px;
        color:var(--primary-color);
        font-family: var(--regular-font);
    }
    .recipeTime img{
        height: 25px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .ingredients h2{
        margin: 0;
        padding: 0;
        color:var(--primary-color);
        font-family: var(--bold-font);
    }
    .ingredients ul{
        margin: 0;
        margin-left: 5px;
    }
    .steps h2{
        margin: 0;
        padding: 0;
        color:var(--primary-color);
        font-family: var(--bold-font);
    }
    .steps ol{
        margin: 0;
        margin-left: 5px;
    }
    .back-button {
        display: flex;
        align-items: center;
        align-content: left;
        margin-top: 20px;
        justify-content: flex-start;
    }
    .back-button img {
        width: 20px; 
        height: 20px; 
        margin-right: 10px; 
    }
    .back-button a {
        text-decoration: none;
        color: var(--bgandtext-color-light);
        font-size: 20px;
        font-family: var(--regular-font);
    }

    /*Add Recipe*/
    .createRecipeForm{
        display: flex;
        background-color: aliceblue;
        border-radius: 25px;
        width: 500px;
        height: 500px;
        padding: 50px;
        box-sizing: border-box;
    }
    .createRecipeForm *{
        margin: 0;
    }